.ga-main{
    background-color: #1C1C1C;
    width: 60%;
    height:1700.54px;
    margin: auto;

}

.ga-GestaoADM{

    position: absolute;
    width: 788px;
    height: 76px;
    margin-left: 27px;
}

.img-topo{
    float: right;
    margin-left: 550px;
    width: 180px;
    border-radius: 10px;
    margin: 22px 30px 0 0;

}

.ga-GestaoADM h1{
    font-weight: bold 800;
    font-family: Roboto;
    font-size: 46px;

    color: #FFFFFF;
}

.ga-blocoPrincipal{

    height: 509px;
    width: 773px;
    background-color: #1C1C1C;
    padding-top: 150px;
    margin: auto;

}

.ga-carrossel img{
    height: 455px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.ga-CNIbtn{
    height:54px;
    width: 380px;
    background-color: #FFFFFF;
    margin-top: -3.9px;   
    float: left;
    border-radius: 0px 0px 0px 20px;
    text-align: center;
}


.ga-CNIbtn a{
    height: 27px;
    width: 39px;
    color: #000;
}
    

.ga-FIESPbtn{

    height:54px;
    width: 380px;
    background-color: #4B4B4B;;
    margin-top: -3.9px;   
    float: right;
    border-radius: 0px 0px 20px 0px;
    text-align: center;

}

.ga-FIESPbtn a{

    height: 27px;
    width: 39px;
    color: #fff;

}

.ga-btn{
    color: black;
    text-decoration:none;
    font-size: 25px;
    margin-top: 10px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.ga-btn:hover{
    color: grey;
}

.ga-btn:active{
    color: black;
    text-decoration: underline;
}
.ga-CNIbtn p{
    color: rgb(56, 56, 56);
}
.ga-FIESPbtn p{
    color:white;
}

.textos{
    padding-top: 10%;
    color: white;
    width: 80%;
    margin-left: 10%;

    font-family: Roboto;
    font-size: 20px;
    text-align: left;

}

.textos h3{
    font-size: 30px;
    margin-top: 15px;
}