body{
    margin: auto;
    max-width: 80%;
    background-color: white;
}

.ga-img-topo img {
    width: 900px;
    height: 100px;
    background-repeat: no-repeat ;

}

.ga-main{
    width: 900px;
    height: 650px;
    text-align: center;
    background-color: rgba(28, 28, 28, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    margin-top: -31px;
}

.ga-titulo{
    width: 800px;
    height: 70px;
    
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    line-height: 2em;

}

.ga-cni{
    width: 309px;
    height: 400px;
    
    text-align: left;
    float: left;
    margin-top: 50px;
    margin-left: 70px;

}

.ga-cni li {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 10px;
}

.ga-fiesp li {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 10px;
}

.ga-fiesp{
    width: 350px;
    height: 400px;
    text-align: left;
    float: right;
    margin: 50px 115px 0px 0px;
}

.ga-button{
    width: 232.81px;
    height: 36.21px;
    background: #808080;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 40px;
}

.ga-a{
    text-decoration: none;
    color : #FFFFFF;
}

button:hover{
    background-color: #FFFFFF;
    border: 2px solid #808080;
}

a:hover{
    color: black;
}

.fiesp ul {
    margin-left: 10px;
}

.cni ul {
    margin-left: 10px;
}
